body {
    background-image:url(fundo-3d-banner2.webp);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
}

.titulo1 {
    color: white;
    text-align: center;
    font-size:xx-large;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

h2{
    color:white;
    margin-bottom: -0px;
    text-shadow: 5px 5px 5px black;
}

p{
    color:white;
    margin:-2px;
    text-shadow: 5px 5px 5px black;
}

.image{

    border-radius: 5%;
    border: 8px solid rgb(0, 0, 0);
    box-shadow: 8px 8px 8px black;
    
}
.image:hover{
    transform: scale(1.04);
   
}


.lambo-container{
    display: grid;
    align-items:center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    
}

.imagelambo{
    border-radius: 5%;
    border: 8px solid rgb(0, 0, 0);
    margin: 35px;
}

.grid-container {
    display:grid;
    align-content:center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  @media (max-width: 767px){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .lambo-container{
        grid-template-columns: repeat(1, 1fr);
    }
  }

  

